<div class="row">
    <div class="container">
        <div class="logo">
            <img class="logoArgentinaPrograma" src="../../../assets/img/APLogo.png" id="logoArgPrograma">
            <p class="yoprogramo">#YoProgramo</p>
        </div>
        <div class="redes">
            <div>
                <a href="https://www.instagram.com/michael.helvig/" target="_blank"><img src="../../../assets/img/instagram.png" id="instagram"></a>
                <!--<a href=""><img src="../../../assets/twitter.png" id="twitter"></a> -->
                <!--<a href=""><img src="../../../assets/facebook.png" id="facebook"></a> -->
                <a href="https://www.linkedin.com/in/michaelgabrielhelvig/" target="_blank"><img src="../../../assets/img/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/michaelhelvig" target="_blank"><img src="../../../assets/img/github.png" id="github"></a>
                
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
            </div>            
        </div>
    </div>
</div>